<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors="true"
>
    <testsuites>
        <testsuite name="PHP Tests">
            <directory prefix="" suffix="Test.php">./api/test/website</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php"></directory>
        </include>
    </coverage>
</phpunit>